header {
    width: 100vw;
    height: fit-content;
    background-color: white;
    border-bottom: 1px solid red;
}

.header_select {
    float: right;
    margin: 12px 20px 10px 0;
    width: 100px;
    font-size: 15px;
    background-color: white;
    border: none;
    padding: 2px 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
}

.header_text {
    float: right;
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 40px 10px 0;
    text-decoration: none;
}

.logo {
    display: flex;
    float: left;
    align-items: center;
    cursor: pointer;
    margin-left: 3vw;
    margin-bottom: 7px;
}

/* ............................navbar style................................. */
.dropdown-toggle {
    list-style: none;
    float: right;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    width: 85vw;
}

.dropdown-menu {
    display: inline-block;
    line-height: 5vh;
}

.option {
    padding: 7px 0 7px 20px;
    list-style-type: none;
    cursor: pointer;
    text-align: left;
}

.option:hover {
    color: white;
    background-color: red;
}

.options {
    display: none;
    float: right;
    width: 200px;
    position: absolute;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
}

@media (max-width: 1400px) {
    .menu {
        font-size: 0.9rem;
    }
}

.mini-menu {
    width: 10px;
    height: 8px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/60/60995.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 0 0 7px;
}

.dropdown-menu:hover .options {
    display: block;
}

.dropdown-menu:hover .menu {
    border-bottom: 0.5vh solid red;
}

.login_btn {
    width: 30px;
    height: 30px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS59s6qBOFlkS5LN4Z0U3G71nCWWg3SuHGVMw&s);
    background-repeat: no-repeat;
    background-size: cover;
}

.cart_btn {
    width: 30px;
    height: 30px;
    background-image: url(https://static.thenounproject.com/png/82429-200.png);
    background-repeat: no-repeat;
    background-size: cover;
}